<%- include("partials/header"); -%>
<div class="post_container">
<h1> <%= postTitle %> </h1>
<h5>by <%= postAuthor %> </h5>
<p> <%= postContent %> </p>
</div>
</main>
<%- include("partials/footer"); -%>