<%- include("partials/header"); -%>
<main id="swup" class="transition-fade">
<div class="post_container">
<h1> <%= postTitle %> </h1>
<h4>by <%= postAuthor %></h4>
<p> <%= postContent %> </p>
</div>
</main>
<%- include("partials/footer"); -%>